<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC With Cats!</title>
	</head>
	<body>
		<a href="/actors">Actors</a><br>
		<a href="/movies">Movies</a><br>
		<a href="/movies/new">New Movie</a><br>
		<a href="/actors/new">New Actor</a><br>

		{{{ body }}}
	</body>
</html>